{
  "presets": ["es2015", "react"]
}


class EventManager {
  constructor() {
    this.eventLookup = {};
  }

  off(event, callback) {
    let listeners = this.eventLookup[event];
    if (event === "*") this.eventLookup = {};
    else if (!callback) this.eventLookup[event] = [];
    else _.remove(listeners, { callback });
  }

  on(event, callback, scope) {
    let listeners = this.eventLookup[event];
    if (!listeners) this.eventLookup[event] = listeners = [];
    listeners.push({ callback, scope });
    return () => _.remove(listeners, { callback });
  }

  once(event, callback, scope) {
    let on = (...data) => {
      this.off(event, on);
      callback.apply(scope, data);
    };
    return this.on(event, on);
  }

  fire(event, ...data) {
    let listeners = this.eventLookup[event];
    if (!listeners) return;
    listeners.forEach(list => {
      try {
        return list.callback.apply(list.scope, data);
      } catch (e) {
        return _.isError(e) ? e : new Error(e);
      }
    });
  }
}

let events = new EventManager();

let ns = "http://www.w3.org/2000/svg";
let d = "M0,0 Q5,-5 10,0 5,5 0,0z";

let stems = $("#stems");
let leaves = $("#leaves");
let svg = $("svg");

let leafCount = 30;
let plants = 10;
let centerX = 275;
let offsetX = 175;

$("#create").on("click", generate);

generate();

function generate() {
  leaves.empty();
  stems.empty();

  _.times(plants, createPlant);

  stems.children().each(function() {
    let tween = TweenMax.to(this, _.random(2, 4, true), {
      drawSVG: true,
      delay: _.random(2, true),
      onStart: () => TweenLite.set(this, { opacity: 1 }),
      onUpdate: () => events.fire(this.id, tween.progress())
    });
  });
}

function createPlant() {
  let points = createPoints();
  let stem = createPath(stems);
  let length = points.length;
  let values = points.map(point => `${point.x},${point.y}`);
  let height = points[length - 1].y;
  let id = _.uniqueId("grow");
  let coords = [];

  for (let i = 0; i < length; i++) {
    let point = points[i];
    coords.push(point.x, point.y);
  }

  TweenLite.set(stem, {
    opacity: 0,
    drawSVG: 0,
    //attr: { id, d: `M${values.join(" ")}` }
    attr: { id, d: solve(coords) }
  });

  for (let i = 0; i < leafCount; i++) {
    let point = points[length - 1 - i];
    let scale = {
      x: 1 + 0.1 * i,
      y: 1 + 0.05 * i
    };
    createLeaf(point, scale, height, id);
  }
}

function createLeaf(point, scale, height, grow) {
  let leaf = createPath(leaves);
  let start = height / point.y;
  let off = events.on(grow, growLeaf);

  function growLeaf(growth) {
    if (growth >= start) {
      // Remove listener
      off();

      TweenLite.set(leaf, {
        x: point.x,
        y: point.y,
        scaleX: scale.x,
        scaleY: scale.y,
        rotation: _.random(180) - 180,
        fill: `rgb(0,${_.random(110, 160)},0)`,
        attr: { d }
      });

      TweenLite.from(leaf, 1, { scale: 0 });
    }
  }
}

function createPoints() {
  let x = _.random(centerX - offsetX, centerX + offsetX);
  let y = 400;
  let dy = 5;
  let offset = 0.007;
  let count = _.random(30, 55);
  let points = [{ x, y }];

  for (let i = 1; i <= count; i++) {
    points.push({
      x: points[i - 1].x + i * offset * (_.random(21) - 10),
      y: 395 - dy * i
    });
  }
  return points;
}

function createPath(parent) {
  return $(document.createElementNS(ns, "path")).appendTo(parent);
}

function solve(data) {
  let size = data.length;
  let last = size - 4;

  let path = "M" + [data[0], data[1]];

  for (let i = 0; i < size - 2; i += 2) {
    let x0 = i ? data[i - 2] : data[0];
    let y0 = i ? data[i - 1] : data[1];

    let x1 = data[i + 0];
    let y1 = data[i + 1];

    let x2 = data[i + 2];
    let y2 = data[i + 3];

    let x3 = i !== last ? data[i + 4] : x2;
    let y3 = i !== last ? data[i + 5] : y2;

    let cp1x = (-x0 + 6 * x1 + x2) / 6;
    let cp1y = (-y0 + 6 * y1 + y2) / 6;

    let cp2x = (x1 + 6 * x2 - x3) / 6;
    let cp2y = (y1 + 6 * y2 - y3) / 6;

    path += "C" + [cp1x, cp1y, cp2x, cp2y, x2, y2];
  }

  return path;
}
