@import url(https://fonts.googleapis.com/css?family=Abel);
/*flex container */

img {
  display:flex;
  border:10px solid mistyrose;
  width: 540px;
  flex-direction:column;
  padding-bottom:0px;

}

  .wrapper {
display:flex;
flex-direction: column;
}

.goalSubmit {
align-self: flex-start;
}


html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #e8e792;
  font-family: 'Abel', sans-serif;
  font-size: 10mm;
  background-image: linear-gradient(320deg, #e8e792 0%, #e16058 100%);
}


.form-inputs {
display:flex;
align-items:row;
}

a {
  color: #203e4a;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.toggleNav {
  display: none;
}


.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  flex-direction: wrap;
  padding:4px;
  border:0;
}

.tile {
  display: flex;
  align-items: center;
  flex-direction:column;
  align-content:start;
  flex-wrap:wrap;
  justify-content:center;
  color: #3c768c;
  font-family: 'Abel', sans-serif;
  font-size: 10mm;

}

.container {
  color:#F7FF70;
}

.hold {
  color:#3c768c;
}

.btn {
  border:2px dotted mistyrose;
  border-radius:15px;
  color:inherit;
  background: #18b0c2;
}
